# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
yarn.lock
package-lock.json


# testing
/coverage



# 环境
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 输出we年
/dist